*{
    box-sizing:border-box
}
body{
    width:700px;
    margin:5px auto 25px;
    font-family:Arial,sans-serif;
    color:#444
}
a{
    color:#0a8f08;
    text-decoration:none
}
a:hover,article header a:hover{
    text-decoration:underline
}
section{
    margin:25px 0
}
body>header{
    overflow:hidden;
    margin-top:25px;
    margin-bottom:75px
}
body>footer{
    margin-top:50px;
    text-align:center;
    font-size:13px;
    line-height:26px
}
hr{
    margin:80px auto 70px;
    width:100px;
    border:none;
    border-top:1px solid #ddd
}
.container{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex
}
.container>section{
    width:50%;
    -webkit-box-flex:1;
    -webkit-flex:1 1 auto;
    -ms-flex:1 1 auto;
    flex:1 1 auto
}
.container>section.dates{
    text-align:right;
    padding-right:5px
}
.ads,article header,section.more{
    text-align:center
}
.container>section.titles{
    padding-left:5px
}
article{
    font-size:17px;
    line-height:26px
}
article h2{
    font-size:24px;
    line-height:28px;
    font-weight:400
}
article header{
    margin-bottom:25px
}
article header h1{
    font-size:40px;
    line-height:48px;
    font-weight:400;
    margin:0
}
article header .date{
    opacity:.5
}
article header a{
    color:#444
}
article header a:hover{
    color:#0a8f08
}
article h1,article h2,article h3,article h4{
    color:#444;
    text-align:center
}
article .video,article blockquote,article footer,article img,article ol,article p,article pre,article ul{
    width:700px;
    margin:1em auto
}
article footer .labels a{
    margin-top:15px;
    display:inline-block;
    background-color:#999;
    color:#fff;
    margin-right:5px;
    padding:0 8px;
    border-radius:3px;
    -webkit-transition:background-color .5s;
    transition:background-color .5s;
    cursor:pointer
}
article footer .labels a:hover{
    background-color:#777;
    text-decoration: none;
}
pre{
    overflow:auto;
    padding:12.5px;
    background-color:#eee;
    font-size:14px;
    line-height:17px!important
}
code{
    font-family:monospace
}
section.discussion{
    width:700px;
    margin:25px auto
}
section.more{
    margin-top:25px
}
.ads{
    float:right;
    margin:auto
}
.logo{
    position:relative;
    top:28px
}
blockquote{
    padding:0 25px;
    border-left:2px solid #ccc
}
